@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0A0A0C;
  --muted: #B7B7C3;
  --primary: #52A447;
}

html,body,#__next {
  height: 100%;
}

body {
  background: var(--bg);
  color: #fff;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a { color: inherit; text-decoration: none; }

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
